@import "tailwindcss";


@theme {
  --color-primary: #fef6e4;
  --color-secondary: #60b918;
  --color-secondary-light: #cbf0ad;
  --color-neutral: #ffffff;
  --color-text-color: #000000;
  --color-accent: #fd9047;
  --font-inter: var(--font-inter-sans);
  --font-sofia: var(--font-sofia-regular);

}


