@import "tailwindcss";
@import "tw-animate-css";
/* @import "tw-animate-css"; */

@custom-variant dark (&:is(.dark *));

@theme {
 --color-primary: hsl(42, 93%, 95%);         
--color-secondary: hsl(93, 77%, 41%);       
--color-secondary-light: hsl(93, 69%, 81%);
--color-secondary-darker: hsl(131, 73%, 15%); 
--color-neutral: hsl(60, 100%, 98%);       
--color-text-color: hsl(0, 0%, 0%);        
--color-text-fade: hsl(0, 0%, 100%);       
--color-accent: hsl(24, 98%, 64%);          
--color-accent-hover: hsl(27, 100%, 50%);   

  --font-inter: var(--font-inter-sans);
  --font-sofia: var(--font-sofia-regular);
}

.bg-radial{
  background: radial-gradient(
    circle at top,
    #FEF6E4  0%,
    #FFFFDA  70%,
    #FFFFF4  70%,
 100%
  );
}

:root {
 --sidebar: hsl(0 0% 98%);
 --sidebar-foreground: hsl(240 5.3% 26.1%);
 --sidebar-primary: hsl(240 5.9% 10%);
 --sidebar-primary-foreground: hsl(0 0% 98%);
 --sidebar-accent: hsl(240 4.8% 95.9%);
 --sidebar-accent-foreground: hsl(240 5.9% 10%);
 --sidebar-border: hsl(220 13% 91%);
 --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

.dark {
 --sidebar: hsl(240 5.9% 10%);
 --sidebar-foreground: hsl(240 4.8% 95.9%);
 --sidebar-primary: hsl(224.3 76.3% 48%);
 --sidebar-primary-foreground: hsl(0 0% 100%);
 --sidebar-accent: hsl(240 3.7% 15.9%);
 --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
 --sidebar-border: hsl(240 3.7% 15.9%);
 --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@theme inline {
 --color-sidebar: var(--sidebar);
 --color-sidebar-foreground: var(--sidebar-foreground);
 --color-sidebar-primary: var(--sidebar-primary);
 --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
 --color-sidebar-accent: var(--sidebar-accent);
 --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
 --color-sidebar-border: var(--sidebar-border);
 --color-sidebar-ring: var(--sidebar-ring);

}

/* @layer base {
  * {
    @apply border-border outline-ring/50;
 }
  body {
    @apply bg-background text-foreground;
 }
} */

